<div>
    <div>
        <p>Todo listo para trabajar con WebSockets</p>
    </div>
    <label>Ingrese texto aqui</label>
    <input type="text" id="chat-input" name="chat-input">
    <button id="send-button" >Enviar</button>
    <p id="input-message"></p>

    <div id="chat-container">
        <ul id="chat-messages"></ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>