<div class="div-container">
    <h1>Restaur치 tu contrase침a</h1>
    <form id="restartPasswordForm">
        <label>Correo electr칩nico</label>
        <input name="email">
        <label>Nueva contrase침a</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/restartPassword.js"></script>