<div class="div-container">
    <h1>Restablecer contraseña</h1>
    <form id="resetPasswordForm">
        <label>Correo electrónico</label>
        <input type="email" name="email">
        <label>Nueva contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/resetPassword.js"></script>