<div class="div-container">
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="password">
        <input type="submit" style="margin-top: 0.5rem">
    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate</a></p>
</div>
<script src="/js/login.js"></script>