<div>
    <form id="product-form">
        <div>
            <div>
                <h1>Agregando productos con WebSockets</h1>
            </div>
            <label>Nombre</label>
            <input type="text" id="product-input" name="product-input">
            <label>Descripción</label>
            <input type="text" id="description-input" name="description-input">
            <label>Código</label>
            <input type="text" id="code-input" name="code-input">
            <label>Precio</label>
            <input type="text" id="price-input" name="price-input">
            <label>Stock</label>
            <input type="number" id="stock-input" name="stock-input">
            <label>Categoría</label>
            <input type="text" id="category-input" name="category-input">
            <button type="button" id="send-button">Agregar producto</button>
        </div>
    </form>

    <form id="product-form-delete">
        <div>
            <div>
                <h2>Borrando productos con WebSockets</h2>
            </div>
            <label>Id</label>
            <input type="number" id="id-input" name="id-input">
            <button type="button" id="send-button-delete">Borrar producto</button>
        </div>
    </form>

    <div id="products-container">
        <ul id="products-list"></ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>